// Auth
.auth {
  @extend %list;

  outline: 2px solid skyblue;
  // @include centredFlex(end);

  @media screen and (min-width: $desktop) {
    @include centredFlex();
  }

  &.auth__link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $primaryTextColor;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-bottom: 10px;
    }
  }

  &__link {
    @extend %link;
    @include centredFlex();
    color: $primaryTextColor;
  }

  &__ico {
    margin-right: 10px;
    fill: currentColor;
  }

  &__ico--mail {
    width: 16px;
    height: 12px;
  }

  &__ico--phone {
    width: 10px;
    height: 16px;
  }

  & &__link {
    @extend %transition;
  }

  & &__link:hover,
  & &__link:focus {
    color: $acentColor;
  }
}
