// Clients section
.clients {
  @extend %section;

  @media screen and (max-width: $tablet) {
    display: none;
  }

  &__container {
    @extend %container;
  }

  &__title {
    @extend %title;
  }

  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @media screen and (min-width: $tablet) {
      width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 150px) / 6);
      margin-bottom: 0;
    }
  }

  &__item:not(:nth-last-child(-n + 3)) {
    @media screen and (min-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  &__item:not(:nth-child(3n)) {
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__link {
    display: block;
    padding: 16px 0;
    text-align: center;
    color: $primaryIconColor;
    border: 1px solid $primaryIconColor;
    border-radius: 4px;

    @extend %transition;
  }

  &__link:hover,
  &__link:focus {
    color: $acentColor;
    border-color: $acentColor;
  }

  &__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
