// Features section
.features {
  @extend %section;

  &__container {
    @extend %container;
  }

  &__title {
    @extend %title;
  }

  &__list {
    @extend %list;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media screen and (min-width: $tablet) {
      width: calc((100% - 30px) / 2);
    }

    &:not(:nth-child(2n)) {
      @media screen and (min-width: $tablet) {
        margin-right: 30px;
      }
    }

    &:not(:last-child) {
      @media screen and (max-width: $tablet - 1px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 90px) / 4);
    }

    &:not(:last-child) {
      @media screen and (min-width: $desktop) {
        margin-right: 30px;
      }
    }

    &:not(:nth-last-child(-n + 2)) {
      @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
        margin-bottom: 30px;
      }
    }
  }

  &__icon-block {
    padding: 25px 0;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: $secondaryBackgroundColor;
    text-align: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__icon-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $titleColor;
    margin: 0 0 10px 0;

    text-align: center;
  }

  &__text {
    line-height: 1.7;
    margin: 0;
  }
}
