// Link template
%link {
  text-decoration: none;
  font-style: normal;
  color: $primaryTextColor;
}

// List template
%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Transition
%transition {
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $timeFunction;
}

// Smm link icon
%smmLink {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 0;
  border-radius: 50%;
}

// Sction
%section {
  // padding: 94px 0;
  padding: 60px 0;
}

// Sectin container
%container {
  margin: 0 auto;
  padding: 0 15px;

  outline: 2px solid #d3d3d3;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

// Section title
%title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: $titleColor;
  margin-bottom: 50px;
}
